<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" />
    <title>Anomaly Detection Server</title>
</head>
<body background="airplane2.png" id="background">
<form action="/detect" method="post" enctype="multipart/form-data" name="searchForm" target="result">
    <table>
        <td> <input type="submit" id="StartFlyingButton" value="Submit"></td>
        <tr><p id="welcome"> Welcome to Anomaly Detection Server! </p></tr>
        <tr>
            <td>
                <label id="choiceAlgoText" for="algorithms">Choose an algorithm:</label>
            </td>
            <td>
                <select id="choiceAlgoButton" name="algorithms" id="algorithms">
                    <option value="hybrid">hybrid</option>
                    <option value="regression">regression</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><p id="validFlightText"> Select a CSV file for the valid flight: </p></td>
            <td id="validFlightButton"> <input type="file" name="train_data"></td>
        </tr>
        <tr>
            <td><p id="detectFlightText">Select a CSV file for flight to detect: </p></td>
            <td id="detectFlightButton"> <input type="file" name="predict_data"></td>
        </tr>
        <br>
    </table>
</form>
<br>
<iframe id="frame" name="result"></iframe>
</body>
</html>