#welcome
{
    font-size: 2.8em;
    font-weight: bold;
    font-family: cursive;
    color: black;
    position:absolute; top: -55px; left: 230px;
}

#choiceAlgoText
{
    font-size: 1.3em;
    color: black;
    position:absolute; top: 105px; left: 10px;
}

#choiceAlgoButton
{
    position:absolute; top: 108px; left: 205px;
    height: 20px;
}

#validFlightText
{
    font-size: 1.2em;
    color: black;
    position:absolute; top: 125px; left: 10px;
}

#validFlightButton
{
    position:absolute; top: 135px; left: 300px;
    cursor: pointer;
}

#detectFlightText
{
    font-size: 1.2em;
    color: black;
    position:absolute; top: 165px; left: 10px;
}

#detectFlightButton
{
    position:absolute; top: 185px; left: 300px;
    cursor: pointer;
}

#background {
    background-repeat:no-repeat;
    background-size: cover;
}

#frame {
    position:relative;
    top: 180px;
    width: 100%;
    height: 335px;
    border: none;
}


#StartFlyingButton {
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute; top: 215px; left: 10px;
}
#StartFlyingButton span {
    cursor: pointer;
    position: absolute;
    transition: 0.5s;
}
#StartFlyingButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
#StartFlyingButton:hover {
    background-color: #f7c2f9;
}
#StartFlyingButton:hover span {
    padding-right: 25px;
}
#StartFlyingButton:hover span:after {
    opacity: 1;
    right: 0;
}